section{
    background: white;
    color: black;
    line-height: 1;
    padding: 0 1.5em;
}

.content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
}

.title {
    text-align: center;
    font-size: 3em;
}

.contact-box {
    box-shadow: 0 0 20px 0 rgba(131, 131, 131, 0.3);
    > * {
        padding: 1em;
    }
}


.contact-form {
    background: #ffffff;
    form {
        display: grid;
        grid-template-columns: 1fr 1fr;

        label {
            display: block;
        } 

        p {
            margin: 0;
            padding: 1em;
        }

        .block {
            grid-column: 1 / 3;
        }

        button {
            background:$mainColor;
            border: 2;
            text-transform:uppercase;
            padding: 1em;
        }

    }
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: black;
    border-bottom: 1px solid black;
}


.contact-form form button:hover,
.contact-form form button:focus {
    background: gray;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}