#slider-index {
    margin: auto;
    background-color: $mainColor;
    max-width: 600px;
    width: 100%;
    height: 30rem;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0 25px 50px -15px $shadowColor;
            
    > ul  {
        li{
        padding: auto;
        margin: 0;
        list-style: none;
        }
    }

    > ul.slider{
        position: relative;
        max-width: 15rem;
        width: 100%;
        height: 25rem;
        left: 30%;

        li {
            position: absolute;
            left: 0px;
            top: 0px;
            opacity: 0;
            width: inherit;
            height: inherit;
            transition: opacity .5s;
            background:$mainColor;        
            img{
                width: 100%;
                display: flex;
                justify-content: center;
                object-fit: cover;
                }

            &:first-child {
                opacity: 1;
                }
                
            &:target {
                opacity: 1;
                }

                       
        }

        }

    > .menu{
        text-align: center;
        margin: 20px;
        }
    
    > .menu li{
        display: inline-block;
        text-align: center;
        }
        
    > .menu li a{
        display: inline-block;
        color: $mainColor;
        text-decoration: none;
        background-color: $shadowColor;
        padding: 10px;
        width: 20px;
        height: 20px;
        font-size: 20px;
        border-radius: 100%;
        }
        
    }