.work{
    margin-top: 10rem;
    font-weight: bold;
    font-size: 3rem;
    display: flex;
    justify-content: center;
}
.work__contenido{
    display: flex;
    justify-content: center;
    p{
        margin-top: 90px;
    }
}
